<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seckill.agent.mapper.OrderMapper">
    <resultMap id="GoodsVo" type="com.seckill.agent.entity.SeckillOrder">
        <result column="user_id" property="userld"/>
        <result column="id" property="orderid"/>
        <result column="goods_id" property="goodsld"/>
    </resultMap>

    <select id="getMiaoshaOrderByUserIdGoodsId" resultType="com.seckill.agent.entity.SeckillOrder">
        SELECT a.id,
               a.user_id,
               a.goods_id,
               a.deliverry_addr_id,
               a.goods_name,
               a.goods_count,
               a.goods_price,
               a.order_channel,
               a.status,
               a.create_date
        from order_info a
        where a.user_id = #{id}
          and a.goods_id = #{goodsId};
    </select>

    <insert id="createOrder" parameterType="com.seckill.agent.entity.OrderInfo">
        <selectKey keyColumn="id" resultType="Integer" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT order_info(user_id, goods_id, deliverry_addr_id, goods_name, goods_count, goods_price, order_channel,
        status, create_date, pay_date,order_no)
        VALUES (#{userId}, #{goodsId}, #{deliverryAddrId}, #{goodsName}, #{goodsCount}, #{goodsPrice},
        #{orderChannel},
        #{status}, #{createDate}, #{payDate},#{orderNo})
    </insert>

    <insert id="insertOrderInfo" parameterType="com.seckill.agent.entity.SeckillOrder">
        insert seckill_order (user_id, order_id, goods_id)
        values (#{userId}, #{orderId}, #{goodsId})
    </insert>


</mapper>